{% extends '../base.html' %} {% load static %} {% load django_bootstrap5 %}
{%block bodyblock%}

<!-- Landing Page Section -->
<div class="container-fluid px-0 mx-0 homediv">
  <div class="container col-lg-10 mx-auto mt-4">
    
    <div class="row col-lg-10 mx-auto">
      <div class="col-lg-5">
        <h3 class="mb-5">Medication Schedule</h3>
        <form method="post">
          {% csrf_token %}
          <!-- {{ form.as_floating }} -->
          {% bootstrap_form form layout='floating' %}

          <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </form>
      </div>
      <div class="col ms-3 ">
        <p class="text-end fs-5 mb-4">
          <i class="fa-solid fa-pills"></i> &nbsp; Medicine lists
        </p>
        {% for i in medicines%}
        <div class="cursor text-end mb-3 ">
          <span>{{forloop.counter}}. </span>
          <span>{{i.medicine.name}} - </span>
          <span>{{i.desc}} - </span>

          <span>{{i.timesaday}}</span>
        </div>
        {%empty%}
        <p class="text-center p-5 text-muted">No data. </p>
        {%endfor%}
        
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModalms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-pills"></i> &nbsp; Add Medication Schedule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">

                {% csrf_token %}
                {% bootstrap_form form layout='floating'  %}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </form>
          <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

{%endblock%}
